.container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5000;
}
