.container {
  .dataform {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


    form {
      width: 100%;
      max-width: 800px;
      min-width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      box-shadow: var(--card-box-shadow);
      background-color: var(--card-background-color);
      border-radius: 0.75rem;
      border: var(--card-border);
      padding: 20px 30px;

      .row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      font-size: 1.35rem;
      font-weight: 700;
      color: var(--first-color);
      margin: 10px;
    }
  }
  .pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .searchField {
      display: flex;
      align-items: center;
      width: 200px;

      .buttons {
        display: flex;
        margin-left: -80px;
      }
    }
  }

  .datagrid {
    width: 100%;
    overflow-y: scroll;
    box-shadow: var(--card-box-shadow);
    background-color: var(--card-background-color);
    border-radius: .75rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: var(--card-border);
  }

  svg {
    color: var(--first-color);
  }

  tbody {
    tr {
      transition: all 0.3s;

      &:hover {
        background-color: var(--second-color);
        color: black;
      }
    }
  }
}

@media (max-width: 800px) {
  .container {
    .datagrid {
      border: none;
    }
  }

  .container {
    .dataform {
      form {
        width: 100%;
      }
    }
  }

  .pagination {
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }
}