@import "./Arena.module.scss";

.datagrid {
  height: calc(100dvh - 210px);
}
.dataform{
  .title {
    font-size: 1.35rem;
    font-weight: 700;
    color: var(--first-color);
    margin: 10px;
  }
}

@media (max-width: 800px) {
  .datagrid {
    height: calc(100dvh - 250px);
  }
}
