.container {
    .danger {
        background-color: #f92032a2;
        /* Light red */
        color: #333;
        /* Dark red text */
        font-weight: 700;
        font-size: 15px;
    }

    .warning {
        background-color: #ff9966af;
        /* Light yellow */
        color: #333;
        /* Dark yellow text */
        font-weight: 700;
        font-size: 15px;
    }

}

.chartsContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.chart {
    flex: 1;
    margin: 0 10px;
}