.charts-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;

  .chart {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}
.expiring-products {
  border: 1px solid #ccc;
  width: 100%;
  height: calc(100dvh - 450px);
  overflow-y: auto;

  table {
    tr {
      cursor: default;
    }
  }
}

@media (max-width: 800px) {
  .charts-container {
    flex-direction: column;
  }
  .expiring-products {
    border: 1px solid transparent;
    height: calc(100dvh - 600px);
  }
}
