@import "./Arena.module.scss";

.datagrid {
  height: calc(100dvh - 355px);
}
.qrcode {
  width: 100%;
  position: relative;

  .qrcodeButton {
    position: absolute;
    right: 0px;
    top: 5px;
  }
}

@media (max-width: 800px) {
  .datagrid {
    height: calc(100dvh - 400px);
  }
}
