.container {
  padding: 10px;
}
.header {
  width: 100%;
  padding: 10px;
  box-shadow: var(--card-box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.datepickers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.body {
  margin-top: 10px;
  box-shadow: var(--card-box-shadow);
  border-radius: 10px;
  width: 100%;
  height: calc(100dvh - 110px);
  padding: 10px;

  .tableContainer {
    height: 100%;
    overflow: auto;
  }
}
.reportsPrintContent {
  font-family: "Helvetica", "Arial", sans-serif !important;
  padding: 10px;
  display: none;

  p {
    margin: 0px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
  hr {
    margin: 10px 0px;
  }
}

@media print {
  .reportsPrintContent {
    display: block;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0px;
  }
}
